# Lambda Functions
a lambda function (also commonly called an anonymous function) is a one-line shorthand for function.

In [1]:
def add_two(my_input):
  return my_input + 2

In [1]:
add_two = lambda my_input: my_input + 2

- The function is stored in a variable called `add_two`.
- The `lambda` keyword declares that this is a lambda function (similar to how we use `def` to declare a normal function).
- `my_input` is a parameter used to hold the value passed to `add_two`.
- In the lambda function version, we are returning `my_input + 2` without the use of a `return` keyword (the normal Python function explicitly uses the keyword `return`).

In [3]:
check_if_A_grade = lambda grade: 'Got an A!' if grade >= 90 else 'Did not get an A.'

In [4]:
print(check_if_A_grade(91))

Got an A!

# Short Ex # 1

Complete a lambda function named `double_or_zero` that takes an integer named `num`. If `num` is greater than 10, return double the value of `num`. Otherwise, return `0`.

In [2]:
double_or_zero = lambda num: num*2 if num > 10 else 0

# Introduction to Higher-Order Functions

## Functions as First-Class Objects

In [8]:
greetings = 'Assalam o alaikum'

upper_case = greetings.upper()

print(upper_case)

# Here, we assign a function to a variable
uppercase = str.upper
 
# And then call it 
big_pie = uppercase("pumpkinpie")

print(big_pie)

ASSALAM O ALAIKUM
PUMPKINPIE

## Functions as Arguments

That take another function as an argument.

In [14]:
def total_bill(func, value):
  total = func(value)
  return total

In [13]:
def add_tax(total):
  tax = total * 0.06
  new_total = total + tax
  return new_total
 
total_bill(add_tax, 100)

'The total amount owed is $106.00. Thank you! :)'

In [11]:
def add_tip(total):
  tip = total * .2
  new_total = total + tip
  return new_total
 
total_bill(add_tip, 100)

'The total amount owed is $120.00. Thank you! :)'

In [15]:
def total_bill(func, value):
  total = func(value)
  return ("The total amount owed is $" + "{:.2f}".format(total) + ". Thank you! :)")
 
 
print(total_bill(add_tax, 100))
print(total_bill(add_tip, 100))

The total amount owed is $106.00. Thank you! :)
The total amount owed is $120.00. Thank you! :)

## Functions as Arguments - Iteration

In [16]:
bills = [115, 120, 42]
 
new_bills = []
 
for i in range(len(bills)):
  total = add_tax(bills[i])
  new_bills.append("Total amount owed is $" + "{:.2f}".format(total) + ". Thank you! :)")
 
print(new_bills)

['Total amount owed is $121.90. Thank you! :)', 'Total amount owed is $127.20. Thank you! :)', 'Total amount owed is $44.52. Thank you! :)']

In [17]:
def total_bills(func, list):
  # This list will store all the new bill values
  new_bills = []
 
  # This loop will iterate through our bills
  for i in range(len(list)):
 
    # Here we apply the function to each element of the list!
    total = func(list[i])
    new_bills.append("Total amount owed is $" + "{:.2f}".format(total) + ". Thank you! :)")
 
  return new_bills

In [18]:
bills = [115, 120, 42]
 
bills_w_tax = total_bills(add_tax, bills)
 
print(bills_w_tax)

['Total amount owed is $121.90. Thank you! :)', 'Total amount owed is $127.20. Thank you! :)', 'Total amount owed is $44.52. Thank you! :)']

In [19]:
bills_w_tip = total_bills(add_tip, bills)
 
print(bills_w_tip)

['Total amount owed is $138.00. Thank you! :)', 'Total amount owed is $144.00. Thank you! :)', 'Total amount owed is $50.40. Thank you! :)']

## Functions as Return Values

In [20]:
def make_box_volume_function(height):
    # defines and returns a function that takes two numeric arguments,        
    # length &  width, and returns the volume given the input height
    def volume(length, width):
        return length*width*height
 
    return volume
 
box_volume_height15 = make_box_volume_function(15)
 
print(box_volume_height15(3,2))

90

In [17]:
box_volume_height10 = make_box_volume_function(10)
 
print(box_volume_height10(3,2))

60

# Built-In Higher-Order Functions

## Map

The `map()` higher-order function has the following base structure:

```python
returned_map_object = map(function, iterable)

In [23]:
def double(x):
 return x*2
 
int_list = [3, 6, 9]
 
doubled = map(double, int_list)
 
print(doubled)

<map object at 0x106dcf430>

In our example:

- We defined a function called `double()` that takes in a value and returns the value doubled. This function can be used anywhere in our program—not only with `map()`.
- We also defined an iterable (`int_list`) that we wanted to apply the function to.
- We then passed the function reference `double` as the function argument and `int_list` as the iterable to `map()`.
- The `map()` function proceeded to apply `double()` onto each element in `int_list`.
- When we printed the result, we could see that the output of the `map()` function was a specific type of object called a map object.

In [22]:
print(list(doubled))

[6, 12, 18]

## Map working with the lambda function

In [24]:
doubled = map(lambda input: input*2, int_list)
 
print(list(doubled))

[6, 12, 18]

## Example
Say we stored our course grades in a list, but some of the grades were on a four-point scale (where students score between 0.0 and 4.0) and others were on a 100-point scale (where students score between a 0 and 100).

To get all the grades on the same scale, try using a lambda function inside of the map() function. Multiply the grades on the four-point scale by 25 to convert the grades to a 100-point-scale.

In [26]:
grade_list = [3.5, 3.7, 2.6, 95, 87]

# Your code below:
updated_grade_list = list(map(lambda grade: grade*25 if grade <= 4 else grade, grade_list))

print(updated_grade_list)

[87.5, 92.5, 65.0, 95, 87]

## Filter function

In [27]:
names = ["margarita", "Linda", "Masako", "Maki", "Angela"]
 
M_names = filter(lambda name: name[0] == "M" or name[0] == "m", names) 
 
print(list(M_names))

['margarita', 'Masako', 'Maki']

In this example:

- `filter()` takes two parameters: the lambda filtering function and the list, `names`.
- The `filter()` function then iterates through `names` and applies the lambda function to each item in the list.
- For each item in the list, if the condition in the lambda function evaluates to `True`, the item is added to a filter object.
- The filter object is returned and when converted to a list and printed, we saw that it contained `['margarita', 'Masako', 'Maki']`—only M-names!

Let’s get some more practice using `filter()` with a lambda function.

# Decorators

## Functions are objects

In [29]:
def add_five(num):
    return num + 5

In [30]:
add_five(2)

7

## Opening and closing braces are used to call the function

In [31]:
print(add_five)

<function add_five at 0x107935c60>

## Functions within the function

In [32]:
def add_five(num):
    def add_two(num):
        return num + 2
    num_plus_two = add_two(num)
    print(num_plus_two + 3)

In [34]:
add_five(10)

15

## Returning functions from functions

In [37]:
def get_math_function(operation):
    def add(n1, n2):
        return n1+n2
    def sub(n1, n2):
        return n1 - n2
    if operation == '+':
        return add
    elif operation == '-':
        return sub

In [38]:
add_function = get_math_function('+')

In [39]:
print(add_function)

<function get_math_function.<locals>.add at 0x1065e5090>

## Decorating a function

In [34]:
def title_decorator(print_name_function):
    def wrapper():
        print("DR. ")
        print_name_function()
    return wrapper

def print_my_name():
    print('hafiz')

In [35]:
print_my_name()

hafiz

In [36]:
decorated_function = title_decorator(print_my_name)

In [37]:
decorated_function()

DR.
hafiz

- basically return a new function, add some additional functionality to existing output

In [38]:
def print_hammad_name():
    print('Hammad')

In [39]:
decorated_hammad_name = title_decorator(print_hammad_name)

In [40]:
print(decorated_hammad_name())

DR.
Hammad
None

In [41]:
@title_decorator
def print_my_name_with_decorator():
    print("hafiz")

In [43]:
print_my_name_with_decorator()

DR.
hafiz

## decorator with Parameter

In [44]:
def title_decorator(print_name_function):
    def wrapper():
        print("DR. ")
        print_name_function()
    return wrapper

In [45]:
@title_decorator
def print_my_name(name):
    print(name)
    
print_my_name("hafiz")

TypeError: title_decorator.<locals>.wrapper() takes 0 positional arguments but 1 was given

In [47]:
def title_decorator(print_name_function):
    def wrapper(*args, **kwargs):
        print("DR. ")
        print_name_function(*args, **kwargs)
    return wrapper

In [49]:
@title_decorator
def print_my_name(name):
    print(name)
    
print_my_name("Husnain")

DR.
Husnain